html {
    font-family: 'Hanalei Fill', cursive;
    font-size: 62.5%;
}


body {
    display: block;
    height: auto;
    width: auto;
    background-image: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.content {
    min-height: 190px;
    width: 305px;
    padding: 28px 22px 28px 22px;
    border: 1px;
    background: #f6f8fa;
    box-shadow: 1px 1px 10px 1px rgb(126, 126, 126);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p {
    font-size: 16px;
    font-family: serif;
    text-align: center;
}

input {
    width: 230px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding-left: 10px;
}

button {
    margin-top: 15px;
    padding: 5px;
    width: 240px;
    height: 30px;
    background-color: #2ea44f;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-weight: bold;
}

button:hover {
    background-color: rgb(1, 129, 23);
    color: rgb(224, 224, 224);
}

button a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}